# Install LXML and Import librabries

In [1]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
import numpy as np

# Read website, Scrape the data from the table, and format it as a DataFrame

In [4]:
x = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [5]:
df = x[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

# Remove any Boroughs that are "Not Assigned"

In [6]:
df1 = df[df.Borough != "Not assigned"]
df1.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

# Replace any "Not Assigned" Neighbourhoods with their Borough name

In [8]:
df1['Neighbourhood']=df1['Neighbourhood'].replace('Not assigned', df1['Borough'])
df1.head(10)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

# Group the similar postal codes, and display final DataFrame shape

In [9]:
df2 = df1.groupby(["Postcode", "Borough"],as_index=False, sort=False).agg(", ".join)
df2.head(10)

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park
5      M9A         Etobicoke                  Islington Avenue
6      M1B       Scarborough                    Rouge, Malvern
7      M3B        North York                   Don Mills North
8      M4B         East York   Woodbine Gardens, Parkview Hill
9      M5B  Downtown Toronto          Ryerson, Garden District

In [10]:
df2.shape

(103, 3)

# Import new CSV file, Rename postal code column and merge with other data fame, on the Similar Postcode column

In [34]:
pd.set_option('expand_frame_repr', False)
df_Geo = pd.read_csv('Geospatial_Coordinates.csv', sep=',')
df_Geo.rename(columns={'Postal Code':'Postcode'}, inplace=True)
df_Geo.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [35]:
df5 = pd.merge(df2, df_Geo, on='Postcode')
df5.head(10)

  Postcode           Borough                     Neighbourhood   Latitude  Longitude
0      M3A        North York                         Parkwoods  43.753259 -79.329656
1      M4A        North York                  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto         Harbourfront, Regent Park  43.654260 -79.360636
3      M6A        North York  Lawrence Heights, Lawrence Manor  43.718518 -79.464763
4      M7A      Queen's Park                      Queen's Park  43.662301 -79.389494
5      M9A         Etobicoke                  Islington Avenue  43.667856 -79.532242
6      M1B       Scarborough                    Rouge, Malvern  43.806686 -79.194353
7      M3B        North York                   Don Mills North  43.745906 -79.352188
8      M4B         East York   Woodbine Gardens, Parkview Hill  43.706397 -79.309937
9      M5B  Downtown Toronto          Ryerson, Garden District  43.657162 -79.378937

In [36]:
df5.shape

(103, 5)